## Satria Bagus Eka Candra
## 2009106016
## Informatika A 2020

## Import

In [2]:
import pandas as pd
from tabulate import tabulate
df = pd.read_csv("all_stocks_5yr.csv")
df = df.iloc[:2500]

## Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe
## angka, jumlah attribute yang memiliki nilai null.

In [8]:


# Jmlah record
Jumlah = len(df)
print(Jumlah)

# nama atribut
nama = list(df.columns)
print(nama)

# jumlah atribut tipe objek
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahObjek)

# jumlah atribut tipe angka
jumlahInteger =len(df.dtypes[df.dtypes == 'int64'])
jumlahFloat =len(df.dtypes[df.dtypes == 'float64'])
jumlahAngka = jumlahInteger + jumlahFloat
print(jumlahAngka)

#jumlah atribut nilai null
df.isna().any().sum()

2500
['date', 'open', 'high', 'low', 'close', 'volume', 'Name']
2
5

0

## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

#Jumlah record

In [9]:
## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

#Jumlah record
Jumlah = len(df)

#Nama Atribut
nama = list(df.columns)
nama = ",\n".join(nama)

# jumlah atribut tipe objek
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])


# jumlah atribut tipe angka
jumlahAngka = len(df.dtypes[df.dtypes == 'int64'])

# jumlah atribut nilai null
jumlahNull = df.isna().any().sum()


kamus = {
    "Jumlah Record":[Jumlah],
    "Nama Atribut" : [nama],
    "Jumlah atribut tipe objek" : [jumlahObjek],
    "Jumlah atribut tipe angka" : [jumlahAngka],
    "Jumlah atribut nilai null"  : [jumlahNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

+-----------------+----------------+-----------------------------+-----------------------------+-----------------------------+
|   Jumlah Record | Nama Atribut   |   Jumlah atribut tipe objek |   Jumlah atribut tipe angka |   Jumlah atribut nilai null |
|-----------------+----------------+-----------------------------+-----------------------------+-----------------------------|
|            2500 | date,          |                           2 |                           0 |                           0 |
|                 | open,          |                             |                             |                             |
|                 | high,          |                             |                             |                             |
|                 | low,           |                             |                             |                             |
|                 | close,         |                             |                             |                             |
|                 | volume,        |                             |                             |                             |
|                 | Name           |                             |                             |                             |
+-----------------+----------------+-----------------------------+-----------------------------+-----------------------------+


# Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [10]:
df.describe()

              open         high          low        close        volume
count  2500.000000  2500.000000  2500.000000  2500.000000  2.500000e+03
mean     73.022048    73.745583    72.291507    73.032559  3.162743e+07
std      41.462105    41.654087    41.251971    41.475648  3.297061e+07
min      13.140000    13.420000    12.700000    13.020000  1.352400e+06
25%      40.770000    41.375000    40.132500    40.723750  8.083765e+06
50%      55.412100    56.125000    54.765000    55.725000  1.935793e+07
75%     108.592500   109.385000   107.397500   108.555000  4.561809e+07
max     175.110000   177.200000   174.860000   176.420000  2.668336e+08

# Tampilkan nilai korelasi attribute bertipe angka.

In [11]:
# Tampilkan nilai korelasi attribute bertipe angka.

df.corr()

            open      high       low     close    volume
open    1.000000  0.999862  0.999831  0.999696  0.342700
high    0.999862  1.000000  0.999798  0.999860  0.344916
low     0.999831  0.999798  1.000000  0.999866  0.339588
close   0.999696  0.999860  0.999866  1.000000  0.341693
volume  0.342700  0.344916  0.339588  0.341693  1.000000

# Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [15]:
# Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

df["high"].dtypes
print(df["high"].dtypes)

df["high"] = df["high"].astype("int64")
print(df["high"].dtypes)

float64
int64

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [16]:
dfAngka= df.select_dtypes(include=['float64','int64'])

dfAngka.head(10)

    open  high    low  close      volume
0  15.07    15  14.63  14.75   8407500.0
1  14.89    15  14.26  14.46   8882000.0
2  14.45    14  14.10  14.27   8126000.0
3  14.30    14  14.25  14.66  10259500.0
4  14.94    14  13.16  13.99  31879900.0
5  13.93    14  13.93  14.50  15628000.0
6  14.33    14  14.08  14.26  11354400.0
7  14.17    14  13.15  13.33  14725200.0
8  13.62    13  12.90  13.37  11922100.0
9  13.57    13  13.21  13.57   6071400.0

## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [17]:
dfAngka.to_csv("Kecerdasan Buatan Posttest2.csv", index=False)